* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

nav {
  height: 120px;
  width: 100%;
  background-color: rgb(245, 58, 58);
  z-index: 5;
}

.container-fluid {

  height: 130vh;
  
}

#main {
  position: relative;
}

nav h1{
  text-align: center;
  font-size: 92px;
  font-weight: bold;
  color: white;
}

#featured-story {
  min-height: 200vh;

}

#main-story {
  min-height: 300vh;
}

#debate {
  min-height: 150vh;

}


#magazines article {
  margin: 5px;
  width: 23%;
}

#magazines img {
  height: 240px;
}

img {
  object-fit: cover;
}

#featured-story img, #main-story img, #magazines img, #editors-picks img {
  width: 100%;
}

#more-stories img {
  width: 100px;
  height: 100px;
}

.magazine-title {
  font-size: 17px;
  line-height: 1;
}

.red-wrap {
  padding: 5px;
  background-color: red;
  color: white;
  font-weight: bold;
}

.business {
  padding-left: 15px;
}

.editor-title {
  font-size: 22px;

}

.story-div-header {
  color: rgb(163, 163, 163);
  font-weight: bold;
  line-height: 2;
  font-size: 16px;
}

.featured-article {
  margin: 10px 0px;
}

.small-image-article {
  width: 100px;
  height: 100px;
}


.article-desc {
  font-size: 15px;
}

.article-title {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.gray-title {
  color: gray;
  font-size: 16px;
}

.hr {
  height: 4px;
  width: 100%;
  background-color: rgb(199, 199, 199);
}

.debate-speech {
  font-weight: bold;
  line-height: 1;
}

.striped-hr {
  height: 3px;
  border-top: 1px solid rgb(196, 196, 196);
  border-bottom: 1px solid rgb(196, 196, 196);
}

#debate strong {
  font-size: 14px;
}

.opinion-author {
  font-size: 15px;
  line-height: 1;
  font-weight: bold;
}

.opinion {
  padding: 10px 0px;
}

@media only screen and (max-width: 768px) {

  #main-story {
    order: 1;
  }

  #featured-story {
    order: 2;
  }

  #debate {
    order: 3;
  }

}